*{
  background-color: antiquewhite;
}
.card{
  border: 1px solid;
  display: block;
  width: 38%;
  flex-direction: column;
  margin-left: 30%;

}
.content{
  padding: 2px;
  text-align: center;
  
}
.btn{
  display: flex;
  justify-content: center;
}
.abtn ,.rbtn{
  height: 30px;
  width: 30px;
  border-radius: 5px;
  margin: 10px;
}
.abtn{
  background-color: blue;
} 

.rbtn{
  background-color: red;
}
img{
  height: 310px;
  width: 500px;
  
}
.dbtn{
  background-color: rgb(237, 68, 68);
  color: white;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
}
.dbtn:hover{
  background-color: red;
}

.center{

  margin-right:100px ;
  padding: 30px;
  width: 300px;
  margin-left: 180px;
}
.bottom{
 display: flex;
 align-items: center;
 justify-content: end;
 padding-bottom: 100px;
 padding-top: 30px;
}
.cbtn{
  background-color: rgb(57, 9, 233);
  width: 280px;
  height: 30px;
  border: none;
  color: white;

}
.cbtn:hover{
  border: 3px solid rgb(20, 2, 2);
}
.top{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(219, 18, 18);
  padding: 40px;
  margin-bottom: 10px;
}
@media screen and (max-width:900px) {
  .card{
      display: flex;
      flex-direction: column;
  }
}